*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
* a{
    text-decoration: none;
}
/* =========================index.html================================ */
/* ------------------------------------------------------------- */
/* Cabeçalho */
#nav{
    right: 8px;
    width: 360px;
    height: 100px;
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#mova{
    position: absolute;
    top: 15px;
    left: 20px;
}
#back{
    position: absolute;
    top: 45px;
    left: 300px;
}

/* Filtro */
#filter{
    width: 315px;
    height: 60px;
}
/* Texto do filtro main */
#filterselect{
    margin: 20px 10px 4px 10px;
    display: block;
    color: #6D2080;
    font-size: 1.1em;
}
/* Opções main */
#select{
    background-color: transparent;
    border: none;
    box-shadow: 0 2px #ccc;
    padding: 0 0 0 1em;
    margin-left: 10px;
    width: 100%;
    color: #8D8D8D;
}
/* botão de pesquisa */
#search{
    width: 160px;
    height: 40px;
    border-radius: 10px;
    background-color: #6D2080;
    font-size: 1em;
    text-align: center;
    line-height: 40px;
    color: white;
    margin: 140px 50px 50px 165px;
    cursor: pointer;
}
/* ------------------------------------------------------------- */
/* Lista de Países */
#countries-list{
    position: relative;
    margin-top: 200px;
    display: grid; -ms-display: grid;
    grid-template-columns: (1fr); -ms-grid-template-columns: (1fr);
    grid-gap: 17px;
  }
  /* Div de cada país */
.flag {
    min-height: 140px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 20px;
    border: 0.5px solid black;
  }
  /* ================================================================= */

  /* =========================country.html================================ */
  /* ------------------------------------------------------------- */
#country{
    margin-top: 20px;
}
.info{
    margin: 8px;
    color: rgb(92, 91, 91);
    border: none;
}
#name{
    margin-top: 20px;
}
#border p{
    font-weight: bolder;
}
#bordercountries{
    margin-top: 25px;
}
  /* ================================================================= */